<div class="main-container" ng-controller="MainCtrl">

<div class="unit-title">
   {{ unit.name }} 
</div>

<div class="col-1-2">
    <div id="left" class="pie-height">
        <nvd3-pie-chart
        class="pie-height"
        data="grades"
        id="pie-chart"
        showLabels="true"
        x="xFunction()"
        y="yFunction()"
        tooltip ="true"
        interactive = "true"
        donut="true"
        donutRatio="0.5"
        donutLabelsOutside="true"
        margin = "{left:0,top:0,bottom:0,right:0}">
        <svg style="background: #fff;" class="pie-height"></svg>
    </nvd3-pie-chart>
</div>
</div>

<div class="col-1-2">

    <div class="lecturer-profile-box">
        <h1>{{ unit.lecturer.name }}</h1>
				<br>{{ unit.lecturer.description }}<br>
				<br>
				<a href="https://www.google.com.au/#q=linkedin+monash+{{ unit.lecturer.name }}">
				<img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/9ea69e92-35fd-4070-950e-ed940779f4c0?imageType=ws_icon_large" height=100 width=100>
				</a><br>
    </div>
</div>

<div class="col-1-2">
        <nvd3-multi-bar-horizontal-chart
        data="setu"
        id="horizontal-chart"
        height="500"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true"
        isArea="true"   
        margin="{left:120,top:100,bottom:120,right:100}">
        <svg></svg>
    </nvd3-multi-bar-horizontal-chart>


</div>
<div class="col-1-2">
    word cloud
    <br>.
    <br>.
    <br>.
    <br>.
    <br>.
    <br>.      </div>
    <br class="clear">
</div>
